<h1>Underground Oakland</h1>
<h2>Sign In</h2>

 <%= link_to('Log in with Google!', '/auth/google') %>
<%= form_for @user, url: login_path(@user), method: :post do  |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%=f.submit 'Log In' %>
<%end%>
