<h1><%=@user.username.titleize%>'s Underground Oakland Profile </h1>

<!--refractor - create an event now or Events you created  -->

<% if @user_events.size == 0 %>
  <h2>You haven't posted any events yet.
  Don't be shy if you have something to share - create an event <%=link_to 'Create A New Event', new_event_path %></h2>
  <% elsif @user_events.size == 1 %>
  <h2>Your Event Posting</h2>
  <%else %>
<h2>Your Events Postings</h2>
<%end%>
 <%@user_events.each do |event| %>
  <p><%=link_to "#{event.name}", event_path(event) %></p>
<%end%>

<!-- refractor attending events  and pluralize-->

<% if @user.attending_events.size == 0 %>
   <h2>You have not RSVP for any events</h2>
  <% elsif @user.attending_events.size == 1 %>
  <h2> Event You Are attending </h2>
  <% else %>
  <h2>Events You Are Attending </h2>
<% end %>

<% @user.attending_events.each do |event| %>
  <p><%= event.name %></p>
  <% event.rsvps.each do |rsvp| %>
     <% if rsvp.user_id == @user.id %>
      <p>No longer attending? <%= button_to 'Cancel RSVP', rsvp_path(rsvp), method: :delete %>
        <%end%>
    <%end%>

  <%end %>

<h3>Check out all events happening in <%=link_to 'Oakland', events_path %> </h3>



<h3><%=link_to 'Create A New Event', new_event_path %></h3>
<h3><%= link_to 'Edit Profile', edit_user_path(@user)%></h3>
<h3><%=link_to 'Log Out', logout_path %> </h3>
