<h1>Edit <%=@event.name %> </h1>

<%= form_for @event do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br></br>
  <%= f.label :date %>
  <%= f.date_field :date %><br></br>
  <%= f.label :time %>
  <%= f.time_field :time %><br></br>
  <%= f.label :cost %>
  <%= f.text_field :cost %><br></br>
  <%= f.label :location %>
  <%= f.text_field :location %><br></br>
  <%= f.label :description %>
  <%= f.text_area :description %><br></br>
  <%= f.submit %>
<%end%>
