<h1>Events in Oakland</h1>
<br></br>

<!--filter option -->
<h3>Filter Events:</h3>
<%= form_tag('/events', method: 'get') do %>
  <%= select_tag "date", options_for_select(['Today Events', 'Future Events', 'Old Events']), include_blank: true %>
  <%= submit_tag "Filter" %>
<%end%>


<% @events.each do |event| %>
  <%= render partial: "event_info", locals: {event: event} %>
  <% if future_event?(event) %>
  <h3><%=link_to 'RSVP', new_user_event_rsvp_path(session[:user_id], event) %> </h3>
  <%end%>
 <%end%>
