<h1>Events in Oakland</h1>
<br></br>

<!--filter option -->
<h3>Filter Events:</h3>

<%= form_tag('/events', method: 'get') do %>
  <%= select_tag "date", options_for_select(['Today Events', 'Future Events', 'Old Events']), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>


<% @events.each do |event| %>
  <div class=event-container>
    <div class=item>
      <%= render partial: "event_info", locals: {event: event}, class: 'events' %><br></br>

      <div id="guest_for_event_<%=event.id%>"></div>
        <% if future_event?(event) && !already_rsvp(@user, event) %>
          <h3><%=link_to 'RSVP', new_user_event_rsvp_path(session[:user_id], event) %> </h3>
        <% end %>


    <!--handlebars confirmed rsvp template -->
      <script id="rsvp_template" type="text/x-handlebars-template">
        <p>Thanks for RSVPing! You're going with {{guest}} guests.</p>
      </script>



      <div class="add_rsvp_form"></div>

        <% if event.rsvps.size > 0 %>
          <%= link_to 'Guest List', event_rsvps_path(event), :class => 'show_rsvps'%>
        <% end %>

        <div id="add_guests_<%=event.id %>"></div>

  </div>  <!--end of item div  -->
<% end %>


<script id="guests-template" type="text/x-handlebars-template">
  <ul>
    <li>{{user.username}} is attending with {{guest}} guests</li>
  </ul>
</script>
</div><!--end of events-container div  -->
<div id="add_event"></div>

<!--new event handlebars template  -->
<script id="new_event_template" type="text/x-handlebars-template">
  <h1>{{name}}</h1>
  <h3>Date: {{displayDate}}</h3>
  <h3>Time: {{displayTime}}</h3>
  <h3>Cost: {{cost}}</h3>
  <h3>Location: {{location}}</h3>
  <h3>Description: {{description}}</h3>
  <h3><a href="user/{{user.id}}/events/{{id}}/rsvps/new">RSVP</a></h3>
</script>

<br></br>
<div id="new_event">
  <h1>Add an Event</h1>
  <%=render  partial: "form", locals:{event: @event = Event.new}%>
</div>
