  <h1><%= event.name %></h1>
  <br>
  <p><%= dispaly_date(event) %><strong> at </strong><%= display_time(event) %></p>
  <p><strong>Cost:</strong>  <%= event.cost %></p>
  <p><strong>Location:</strong>  <%= event.location %></p>
  <p><strong>Description:</strong>  <%= event.description %></p>
