  <h1><%= event.name %></h1>
  <br></br>
  <p><%= dispaly_date(event) %></p>
  <p>at <%= display_time(event) %></p>
  <p>Cost: <%= event.cost %></p>
  <p>Location: <%= event.location %></p>
  <p>Description: <%= event.description %></p>
