<h1><%= event.name %></h1>
<h3>Date: <%= dispaly_date(event) %></h3>
<h3>Time: <%= display_time(event) %></h3>
<h3>Cost: <%= event.cost %></h3>
<h3>Location: <%= event.location %></h3>
<h3>Description: <%= event.description %></h3>
