<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- jquery -->

    <!--bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Underground Oakland</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>


  <div class="container" style="background-color: #F5F5F5;">

  <!-- Navagation bar-->
    <nav class="navbar navbar-light" style="background-color: #3CB371;">
      <a class="navbar-brand" href="#">Underground Oakland</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" <%=link_to 'Profile', user_path(@user) %><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%=link_to 'Events', events_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%=link_to 'Log Out', logout_path %> </a>
          </li>
        </ul>
      </div>
    </nav>

   <%= render "layouts/messages" %>

    <!-- Content here -->

   <%= yield %>

  <!-- closing container tag -->
  </div>


<!-- bootstrap plugins -->

      <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
